@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

p, h1{
	margin:0;
	padding:0;
}

body{
	background-color:#222;
}

.wrapper{
	width:800px;
	margin: 0 auto;
}

.sec{
	padding:30px;
	margin: 20px 0;
	text-align:right;
	overflow:hidden;
}

.sec:nth-child(even) {
	text-align:left;
}

.sec:nth-child(even) .section-cover {
	float:right;
}

.sec:nth-child(even) h1 span {
	float:right;
}

.sec:nth-child(even) p {
	margin-left:0;
}

.sec.blue{
	background-color:dodgerblue;
	color:yellow;
}


.sec.red{
	background-color:orangered;
	color:yellow;
}


.sec.yellow{
	background-color:yellow;
	color:orangered;
}


.sec::after {
	content:' ';
	clear:left;
	display:block;
}

.sec h1{
	font-family:'Anton', sans-serif;
	line-height:1;
	margin-bottom:30px;
	font-size:90px;
	font-weight:normal;
	display:inline-block;
}
.sec h1 span {
	font-size:0.5em;
	float:left;
	margin:0 0.35em;
	opacity:0.5;
}

.sec h1 span::after {
	content:'kcal';
	font-size:0.5em;
	margin:0 0.1em;
}

.section-cover{
	float:left;	
	width:200px;
	margin: 0 -60px;
	transition: margin .5s;
}

.sec::after{
	clear:both;
	content: " ";
	display:block;
}

.sec p {	
	width:500px;
	margin-left:auto;
	line-height:1.5;
}

.sec:hover .section-cover{
	margin: 0;
}


