
			.content{
				width:400px;
				margin:auto;
				background-color:white;
				padding:50px;
				border-radius:40px;
				margin:40px auto;
			}
			
			h1{
				text-align:center;
				width:110px;
				margin: 20px auto;
			}
			
			ul{
				width:110px;
				margin:20px auto;
				padding-top:30px;
				padding-bottom:30px;				
			}
			
			a:hover{
				color:darkgray;
			}